
p {
  color: #9a9a9a;
  font-size: 15px;
  line-height: 1.7;
}

.seciton-bg-1 {
  position: relative;
}

.section-padding {
  padding: 50px 0;
}

.seciton-bg-1::after {
  background-image: url(img.webp);
  position: absolute;
  content: "";
  height: 100%;
  width: 47%;
  background-color: #ddd;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
}

.section-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 35px;
  color: #333;
}

.section-title span {
    color: #18b5fd;
}
